<div>
    {{!-- <h2>Test Artists Partials</h2> --}}
    <img src="{{this.images.0.url}}" alt="Image"> 
    <h2>{{this.name}}</h2>
    <a class="btn btn-primary home-search" href="/albums/{{this.id}}">Show Albums</a>
</div>
{{!-- images.0 = größte Größe? --}}